header {
  text-align: center;
}

.title {
  display: block;
}

.mandachord {

}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
}

.bar-label {

}

.bars {
  list-style: none;
  padding: 0;
  height: 900px;
  width: 900px;
  background: pink;
}

.bar {
  background: rgba(0,150,255,0.5);
  /*position: absolute;*/
  transform-origin: 50% 50%;
  /*height: calc((20px * 3) + (15px * 5) + (10px * 5) + 327px);*/
  height: 50%;
  width: 50%;
  /*left: calc(50% - ((20px * 3) + (15px * 5) + (10px * 5)));*/
  /*top: calc(50% - ((20px * 3) + (15px * 5) + (10px * 5)));*/
  display: inline-flex;
  flex-flow: column;
  /*padding-left: 593px;*/
}

.measures {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  bottom: 0;
  /*bottom: 215px;*/
  position: absolute;
}

.measure {
  background: rgba(0,255,0,0.5);
  position: absolute;
  bottom: 215px;
  transform-origin: 0% calc(100% + 215px) 0px;
  box-shadow: 0 5px 0px 0px black;
}
.measure-inner {
  transform: rotate(2.5deg);
}

.beatrows {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
}

.beatrow {
  background: maroon;
  transform-origin: 50% 100%;
}

.beats {
  display: flex;
  list-style: none;
  padding: 0;
  flex-flow: column;
}

/*.beat {
  height: 20px;
  width: 21.0991px;
  background: pink;
  border: 1px solid black;
}*/

.beat {
  fill: lime;
}
.beat.percussion {
  fill: silver;
}
.beat.percussion:hover {
  fill: lightgray;
}
.beat.percussion.noteOn {
  fill: gray;
}
.beat.bass {
  fill: blue;
}
.beat.bass:hover {
  fill: lightblue;
}
.beat.bass.noteOn {
  fill: cyan;
}
.beat.melody {
  fill: violet;
}
.beat.melody:hover {
  fill: pink;
}
.beat.melody.noteOn {
  fill: purple;
}
